{% extends 'archives/base.html' %}
{% block title %}Directory of Archives in Australia -- About the Directory{% endblock %}
{% block content %}
<div id="content">
<h2>About the Directory</h2>
<p>The 1992 Directory of Archives in Australia was a follow up publication to the ASA's earlier <em>Our Heritage: A Directory to Archives and Manuscript Repositories in Australia</em> compiled by Olga White, Anne-Marie Schwirtlich and Jennifer Nash and published in 1983. </p>
<p>In the first half of 1995 the Australian Science Archives Project
(ASAP) approached the ASA with a proposal to create a WWW edition of
the <em>Directory</em>. The plan was to transfer the information collected for the <em>Directory</em> into a database, and then generate the necessary HTML files directly from the database. This meant that not only would the <em>Directory</em> be accessible internationally through the Internet, but also that the <em>Directory</em> itself would be easier to maintain. The ASA Council accepted the proposal, and work began around the middle of the year. </p>
<p>Since the creation of the original online version of the <em>Directory<em> </em></em>the
Society has continued to provide this service on its website. Entries
are added and updated as archives change and grow and the ASA is
notified of these changes. If you are aware of out of date information
in these pages, please <a href="/contact/" title="Contact the ASA regarding the Directory of Archives">contact</a> the Society. </p>
<p>To submit a new entry, fill out this <a href="/static/files/ASADirectoryOfArchives-NewEntry.doc">form</a> and email it to the <a href="mailto:office@archivists.org.au">ASA Office</a>.</p>
</div>
{% endblock %}