{% extends 'archives/base.html' %}
{% block title %}Directory of Archives in Australia -- Acknowledgements{% endblock %}
{% block content %}
<div id="content">
<h2>Acknowledgements</h2>
    <h3>For the 1996-2004 Web Editions</h3>
<p>
There were a few key people who were instrumental in making the leap of
faith and moving from the security of print into the wild world of web
publishing back in the mid-1990s. Tim Sherratt and Gavan McCarthy, both
then at the Australian Science Archives Project (ASAP), were key
instigators but it was also those that followed either as editors and
data entry people, or database managers or web publishers that have
enabled the <em>Directory</em>
to live on. This list of important folk includes: Joanne Evans,
Guillaume Mallet, Barbara Cytowicz, Jack Martin, Bruce Smith, Ailie
Smith and Annette Alafaci.
</p>
<p>However, a very special thanks goes to Rosanne Walker who spent six
years as the person at the end of the email queries, adding new data
and always being as helpful as she could be to everyone seeking
guidance with regards to Australia's archival resources. Thanks also go
to the Australian Science and Technology Heritage Centre for continuing
the support of the project from 1999 when ASAP ceased its operations.
</p>
<h3>For the 1992 Print Edition</h3>
<p> A project such as this can never be produced in isolation. The
development and direction owes much to the suggestions and assistance
of a few. The content relies entirely upon the contributions of many.</p>
<p>
The Directory Committee extends appreciation to all who have expressed
confidence in the value of this project and have been involved in
practical ways. We would like to specifically thank the following
people and institutions:
</p>
<p>Baiba Berzins; Rosemary Block; Vanessa Block (artwork); Department
of the Arts, Sport, the Environment and Territories; Jenny Edgecombe
(WA); Janet Foster; Lee Gordon (ACT); Zoe Hunt (word processing);
Nicole Le Maistre (QLD); John Love (SA); Sigrid McCausland; Lyn Milton;
Ann Pederson; Ian Pearce (TAS); Michael Piggott (Managing Editor); Gary
Presland (VIC); Margaret Reid (QLD); Records Archives and Information
Management (RAIM); Anne-Marie Schwirtlich; Robert Sharman; Clive Smith;
State Library of New South Wales; WESTPAC Group Archives and Records; Stephen Yorke.
</p>
<p>
We have looked to the international scene for precedents in this area
and selected two standards which best represented the directory which
we were aiming to produce. In acknowledging these two directories, we
again thank Janet Foster for providing us with the vision for what
could be accomplished.
</p>
<ul>
<li>Foster, J, and Sheppard, J, <em>British Archives</em>, second edition, Macmillan Press, 1989.
	</li>
<li>Helferty, S, and Refausse, R, <em>Directory of Irish Archives</em>, Irish Academic Press, 1988.
	</li>
</ul>
</div>
{% endblock %}