{% extends 'archives/base.html' %}
{% block title %}Directory of Archives in Australia -- About the Directory{% endblock %}
{% block content %}
<div id="content">
<h2>Contact information</h2>
<p><strong>All queries about a particular archives collection should be directed to the specific 
archives group concerned</strong>.</p>
<p>Not all groups have an email contact, so you may need to make contact via telephone, fax or regular mail. These details, where provided, are 
clearly listed in their Directory entry.</p>
<p>Corrections and additions to entries in the <em>Directory of Archives in Australia</em> should 
be sent to <a href="mailto:directory@archivists.org.au">office@archivists.org.au</a></p></div>
{% endblock %}